{{#resume.basics}}
	<h1 id="name">{{name}}</h1>
	{{#location}}
		{{#if city}}
			<div id="location">
				<i>
					Location: 
				</i>
				{{city}}
			</div>
		{{/if}}
	{{/location}}
	<section id="basics">
		<div class="contact">
			<div class="middle">
				{{#if email}}
					<div class="contact-info">
						<i> E-mail: </i>
						<span> {{email}} </span>
					</div>
				{{/if}}
				{{#if phone}}
				{{/if}}
				{{#if phone}}
					<div class="contact-info">
						<i>Telephone number: </i>
						<span> {{phone}} </span>
					</div>
				{{/if}}
			</div>
			<div class="middle">
				{{#each profiles}}
					<div class="contact-info">
						<i>
							{{network}}:
						</i>
						<span>
							<a href="{{url}}">{{name_network}}</a>
						</span>
					</div>
				{{/each}}
				{{#if website}}
				<div class="contact-info">
					<i>
						Website
					</i>
					<span>
						<a href="{{website}}">{{website}}</a>
					</span>
				</div>
				{{/if}}
			</div>
			{{#if label}}
				<div class="middle">
					<div class="contact-info">
						<i>
							Position: 
						</i>
						<span>
							{{label}}
						</span>
					</div>
				</div>
			{{/if}}
		</div>
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</section>
{{/resume.basics}}
