{{#if resume.work.length}}
<section id="work">
	<h3 class="title-section">Experience</h3>
	<div class="divider"></div>
	{{#each resume.work}}
	<div class="item">
		<div class="flex-between">
			<div class="title">
				{{name}}
			</div>
			<div>
				<span class="startDate"> {{startDate}} </span> 
				-
				<span class="endDate"> {{endDate}}</span>
			</div>
		</div>
		<div class="flex-between">
			<i>
				{{position}}
			</i>
			<div class="location">
				{{location}}
			</div>
		</div>
		{{#if highlights.length}}
		<ul class="highlights">
			{{#each highlights}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
